<div class="w-full" fxLayout="row" fxLayoutAlign="center">
	<mat-card class="w-full">
		<mat-card-header
			class="mb-4"
			fxLayout="row"
			fxLayout.lt-sm="column"
			fxLayoutAlign="space-between"
		>
			<mat-card-title>Abastecimentos</mat-card-title>
			<div>
				<button
					class="w-full"
					mat-raised-button
					color="primary"
					[routerLink]="['register']"
					fxFlexAlign="flex-end"
				>
					Novo abastecimento
				</button>
			</div>
		</mat-card-header>
		<mat-card-content>
			<mat-list *ngIf="fuelingOrders.length > 0" class="overflow-auto">
				<div
					*ngFor="let fuelingOrdersByPlate of vehiclePlates()"
					class="mb-8"
				>
					<div mat-subheader>
						{{
							fuelingOrdersByPlate[0].vehiclePlate
								| mask : "AAA-AAAA"
						}}
					</div>
					<mat-divider class="mb-4"></mat-divider>
					<div fxLayout="column">
						<mat-card
							*ngFor="let fuelingOrder of fuelingOrdersByPlate"
							fxFlex.lg="33.3333%"
							fxFlex.lt-lg="50%"
							fxFlex.xs="100%"
						>
							<mat-card-content>
								<div
									fxLayout="row"
									fxLayoutAlign="space-between"
								>
									<div>
										<div matListItemTitle>
											KM:
											{{
												fuelingOrder.vehicleMileage
													| number
											}}
											| Valor:
											{{ fuelingOrder.price | currency }}
										</div>
										<div matListItemLine>
											Data:
											{{
												fuelingOrder.timestamp
													| date
														: "dd/MM/yyyy HH:mm"
														: "+0:00"
											}}
										</div>
									</div>
									<button
										mat-icon-button
										color="warn"
										aria-label="Botão de deletar registro"
										(click)="
											openDeleteFuelingOrderDialog(
												fuelingOrder
											)
										"
									>
										<mat-icon>delete</mat-icon>
									</button>
								</div>
							</mat-card-content>
						</mat-card>
					</div>
					<!-- <mat-divider></mat-divider> -->
				</div>
			</mat-list>
			<div *ngIf="fuelingOrders.length == 0" class="text-lg opacity-60">
				Nenhum abastecimento registrado
			</div>
		</mat-card-content>
	</mat-card>
</div>
