<h1 mat-dialog-title>Remover registro</h1>
<div mat-dialog-content>
	<div>Tem certeza que deseja remover este registro?</div>
	<mat-card class="my-2">
		<mat-card-content>
			<div matListItemTitle>
				<div class="font-bold mb-2">
					{{ data.fuelingOrder.vehiclePlate }}
				</div>
				<mat-divider></mat-divider>
				KM: {{ data.fuelingOrder.vehicleMileage | number }} | Valor:
				{{ data.fuelingOrder.price | currency }}
			</div>
			<div matListItemLine>
				Data:
				{{ data.fuelingOrder.timestamp | date : "dd/MM/yyyy HH:mm:ss" }}
			</div>
		</mat-card-content>
	</mat-card>
	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close disabled="{{ loading }}">
			Cancelar
		</button>
		<button
			mat-button
			color="warn"
			(click)="deleteFuelingOrderById(data.fuelingOrder.id!)"
			[disabled]="loading"
		>
			Remover
		</button>
	</mat-dialog-actions>
	<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>
